html{
    font-family: "DM Sans", sans-serif;
    font-size: 62.5%;
    background-color: whitesmoke;
}

/* GRID */

.container{
    display: grid;
    gap: 30px;
    grid-template-areas: "post valuation valuation schedule-social-media"
                         "post improved-managing consistent-posting-schedule schedule-social-media"
                         "post audience-growth non-stop-content non-stop-content";
    grid-template-columns: 255px 1fr 1fr 257px;
    grid-template-rows: 325px auto 600px;
    max-width: 1400px;
    max-height: 1030px;
    padding: 140px 160px;
}

/* POST */

.post{
    grid-area: post;
}

/* VALUATION */

.valuation{
    grid-area: valuation;
}

/* SCHEDULE-SOCIAL-MEDIA */

.schedule-social-media{
    grid-area: schedule-social-media;
}

/* HELP-TO-WRITE */

.help-to-write{
    grid-area: help-to-write;
}

/* IMPROVED-MANAGING */

.improved-managing{
    grid-area: improved-managing;
}

/* CONSISTENT-POSTING-SCHEDULE */

.consistent-posting-schedule{
    grid-area: consistent-posting-schedule;
}

/* AUDIENCE-GROWTH */

.audience-growth{
    grid-area: audience-growth;
}

/* NON-STOP-CONTENT */

.non-stop-content{
    grid-area: non-stop-content;
}

/* END GRID */

.post .create-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 25px;
    padding: 30px;
    background-color: var(--quaternary-light-1);
    width: 255px;
    height: 420px;
    border-radius: 3%;
}

.post .create-post h2{
    letter-spacing: -2px;
}

.post .create-post span{
    color: var(--tertiary-dark);
    font-style: italic;
}

.post .create-post img{
    width: 190px;
    position: relative;
    right: 3px;
}

.post .help-to-write{
    height: 432px;
    background-color: var(--quaternary-light-2);
    margin-top: 28px;
    padding-top: 23px ;
    padding-left: 22px;
    padding-right: 30px;
    letter-spacing: -2px;
    border-radius: 10px;
}

.post .help-to-write h2, .post .create-post h2{
    font-size: 4rem;
    font-weight: 500;
    line-height: 35px;
}

.post .help-to-write img{
    margin-top: 59px;
    width: 220px;
}

.valuation{
    background-color: var(--tertiary-dark);
    width: 545px;
    margin-right: 1px;
    height: 325px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.valuation h1{
    font-size: 6.3rem;
    font-weight: 500;
    padding-top: 58px;
    line-height: 70px;
}

.valuation h1{
    color: var(--secondary);
}

.valuation p{
    color: var(--tertiary-light);
}

.valuation img{
    width: 190px;
    margin-bottom: 7px;
}

.valuation p{
    font-size: 1.8rem;
    font-weight: 400;
}

.valuation .times{
    color: var(--quaternary-light-2);
}

.valuation .speed {
    font-style: italic;
}

.valuation .speed, .ai{
    position: relative;
    top: -12px;
    left: -5px;
}

.schedule-social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 257px;
    height: 602px;
    border-radius: 10px;
    background: var(--tertiary-light) url('/src/images/illustration-schedule-posts.webp') no-repeat 33px 46%;
    background-size: 350px 320px;
}

.schedule-social-media h2{
    margin-bottom: 22px;
    padding: 50px 30px;
}

.schedule-social-media p{
    font-size: 1.8rem;
    padding: 52px 32px;
    line-height: 18px;
}

.improved-managing{
    padding-top: 85px;
    border: solid transparent 26px;
    border-radius: 10px;
    background: var(--secondary) url('images/illustration-multiple-platforms.webp') no-repeat;
    background-size: 315px 67px;
}

.improved-managing h2, .schedule-social-media h2, .consistent-posting-schedule h2{
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -1px;
}

.consistent-posting-schedule{
    background: var(--quaternary-light-2) url('images/illustration-consistent-schedule.webp') no-repeat 25px 153px;
    background-size: 208px;
    padding: 24px 25px;
    border-radius: 10px;
}

.audience-growth img{
    width: 18px;
    height: 30px;
}

.non-stop-content img{
    width: 18px;
    height: 30px;
}