:root {
    --primary: hsl(0, 0%, 7%);

    --secondary: hsl(0, 0%, 100%);

    --tertiary-light: hsl(254, 88%, 90%);
    --tertiary-dark: hsl(256, 67%, 59%);
    
    --quaternary-light-1: hsl(31, 66%, 93%);
    --quaternary-light-2: hsl(39, 100%, 71%);
}